body{
	margin-left: 10%;
	margin-right: 10%;
}

.menu{
	font-weight: bold;
	border-right: 2px solid black;
	padding: 5px;
	color: blue;
}

.menuLast {
    font-weight: bold;
	padding: 5px;
	color: blue;
}

#usrImg{
	height: 5%;
	width: 5%;
	align-self: right;
	vertical-align: middle;
}

#usrName{
	color: blue;
}

#adm{
	text-align: right;
	font-weight: bold;
	position: relative;
	right: -35%;
	
}

#title{
	text-align: left;
	position: relative;
	font-size: 30px;
	font-weight: bold;
}


table{
	width: 74%;
	text-align: center;
	border-collapse: collapse;
	margin-top: 3%;
	bo
}


#line2{
	margin-top: 3%;
}

th {
    padding-top: .5em;
    padding-bottom: .5em;
    text-align: left;
}

#submit{
	text-align: left;
	margin-left: 10%;
}

#category-input{
width: 30%
}

#add-category{
	font-size: 15px;
	margin-left: 10%;

}

.button{
	text-align: center;
	width: auto;
	font-size: 15px;
	font-weight: bold;
}

#egp{
	margin-left: 5%;
}

p{
	display: inline-block;
	margin-left: 22%;
	color: red;
}